@font-face {
    font-family: 'Roboto';
    src: url(./Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Montserrat Italic';
    src: url(./Montserrat_Italic/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(./Source_Sans_Pro/SourceSansPro-Regular.ttf);
}